@import "tailwindcss";

@theme {
  --font-sans: "Nunito", sans-serif;
  
  --color-brand-green: #88c241;
  --color-brand-sidebar: #233c46;
  --color-brand-teal: #273238;
  
  --color-surface-page: #acb0b1;
  --color-surface-card: #ffffff;
  --color-surface-border: #d1d5d6;
  
  --color-slate-text: #6f7a7f;
  
  --color-status-danger: #f83f37;
  --color-status-warning: #f5a623;
  --color-status-success: #3ec28f;
  --color-status-info: #3b82f6;
  
  --radius-DEFAULT: 4px;
  --radius-lg: 8px;
  --radius-full: 9999px;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
